.MadlibForm-form input{
    text-align: center;
    align-items: center;
    width: 500px;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}   

.MadlibForm-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.MadlibForm-button-active{
    width: 100px;
    height: 25px;
    border-radius: 5px;
}

.MadlibForm-button-inactive{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    color: lightgray;
    border-color: lightgray;
    pointer-events: none;
}

